@font-face {
  font-family: "Edo";
  src: url("/fonts/edo.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Navbar brand/title */
.VPNavBarTitle .title {
  font-family: "Edo", var(--vp-font-family-base);
  font-size: 1.3rem;
}

/* Optional: make hero name/title match the brand too */
.VPHero .name {
  font-family: "Edo", var(--vp-font-family-base);
}

/*Inline branding*/
.font-edo-inline {
  font-size: 1.1rem;
  font-family: "Edo", var(--vp-font-family-base);
}
