html.dark .light-only {
  display: none !important;
}
html:not(.dark) .dark-only {
  display: none !important;
}

.store-badges {
  display: flex;
  gap: 12px;
  align-items: center;
  flex-wrap: wrap;
}
